Flashdiscount/.idea/compiler.xml
Flashdiscount/.idea/encodings.xml
Flashdiscount/.idea/gradle.xml
Flashdiscount/.idea/misc.xml
Flashdiscount/.idea/modules.xml
Flashdiscount/.idea/runConfigurations.xml
